*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #ffff;
}
nav{
    /* border:1px solid black; */
    width:1140px;
    height:92px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom:1px solid whitesmoke;
}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    list-style:none;
    
}
.btn{
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    width:256px;
    margin:0 auto;
    border-radius: 5px;
    /* text-align: start; */
}
.btn2{
    border:1px solid #1e8d4c;
    color:#ffff;
    background-color:transparent;
    padding: 12.5px;
    /* width:100%; */
    border-radius: 5px;}
nav .nav-logo img{
    padding-top:16px;
    width:139px;
}
 nav .btn{
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    width:160px;
    border-radius: 5px;
}
 header .main-container{
    display:flex;
    justify-content: center;
    background-color: rgb(255, 151, 14);
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position-x:center;
    width:100%;
    /* max-width:1600px;
    height:674px; */
    
}

.text-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* text-align: center; */
    /* max-width:1360px;
    height:379px; */
    text-align: center; 
    margin-top: 154.5px;
    margin-bottom:179.5px;
    margin-left:341px;
    margin-right:341px;
    /* padding-top:51px; */
    
}

section .banner-early-access-icon{
    display: flex;
    justify-content: center;
    /* width: 229px;
    height: 35px; */
    margin: 0 auto;
    padding:115.5px 270.5px 16px 270.5px;

}
section .banner-early-access-icon p{
    width:220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #2aa15b;
    background-color: #ffff;
    background-size: cover;  
    padding: 8px 12px 8px 12px;
    border-radius:50px;
    gap: 6px;

}
.text-container h1{
    color:#ffffff;
    /* max-width:1360px; */
    /* width:770px; */
    /* padding-top: 51px; */
    /* padding-bottom:16px;
    padding-left:341px;
    padding-right:341px; */
    margin:0 auto;
    font-size:70px;
    font-weight: bold;
    /* display: flex;
    /* align-items: center; */
    /* justify-content: center; */
     */
}
.text-container p{
    color: rgba(255, 255, 255, 1);
    max-width:1360px;
    width:770px;
    /* padding-top: 51px;*/
    padding-bottom:32px;
    /* padding-left:341px; 
    margin-right:341px;*/
    margin:0 auto;
    /* display: flex;
    /* align-items: center; */
    /* justify-content: center; */
     */
}
.text-container #span-color-green{
    color:rgba(48, 184, 104, 1);
}
.btn{

    border:none;
    color:#ffff;
    background-color:#2aa15b;

    padding: 12.5px;
    width:160px;
    border-radius: 5px;
}
.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.button-section .btn {
    font-size:12px;
   padding-left: 16px;
   padding-right: 16px;
   margin: 0 auto;
   font-weight: 600;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.button-section .btn2 {
   font-size:12px;
   padding-left: 16px;
   padding-right: 16px;
   margin: 0 auto;
   font-weight: 600;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
/* 2nd section/notes-container */
section .notes-title-container h1, p{
    text-align: center;
    gap:16px;
}
section .notes-title-container h1{
    font-weight:bold;
    font-size:48px;
    text-align: center;
    gap:16px;
}
section .notes-title-container p{
    text-align: center;
    padding-top:16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}
.Info-container{
    /* border: 1px solid red; */
    margin: 10px 120px 10px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right:24px;
    margin-left:24px; */
    gap:24px;
    object-fit: cover;
    max-width:1340px;
}
.info-card{
    width: 320px;
    box-sizing: border-box;
    padding-top:24px;
    padding:24px;
    gap:16px;
    margin: 10px auto;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    text-align: center;
    
    box-shadow:-0px -1px 1px rgb(31, 29, 29);
}
.info-card img{
    background-color: #f95555;
    padding: 15px 15px 15px 15px;
    border-radius:100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items:center;
    gap:20px;
    margin-bottom:16px;
    margin-left:107px;
    margin-right:107px;
    margin-bottom:16px;
    
}
.info-card p{
    padding-top:16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:15px;
    color: #627382;
}
.info-card h2{
    padding-top:13px;
    font-weight: 600;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    color: #000000;
}
/* 3rd section/brain-container */
section .second-brain-section-container{
    padding:120px 120px 120px 120px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center; 
}
.brain-text-info {
    box-sizing: border-box;
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    padding-right:170px;
}
.brain-text-info h1,p{
    text-align: left;
    padding-top:16px;
}
.brain-text-info h1 {
    color: #001931;
    font-size: 48px;
    font-weight:bold;
}
.brain-text-info .para-1{
    color: #30B868;
}
.brain-text-info #para-2{
    font-size:16px;
    color: #627382;
}
.brain-text-info {
    box-sizing: border-box;
    text-align:left;
    display: flex;
    /* justify-content: flex-start; */
    padding-right:80px;
}
