*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #ffff;
}
nav{
    /* border:1px solid black; */
    max-width:1940px;
    width:100%;
    /* height:92px; */
    margin:0 auto;
    padding: 0px 150px;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom:1px solid whitesmoke;
}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    list-style:none;
    
}
.mb-button{
    display: none;
}
.btn{
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    max-width:256px;
    width:100%;
    margin:0 auto;
    border-radius: 5px;
    /* text-align: start; */
}
.btn2{
    border:1px solid #1e8d4c;
    color:#ffff;
    background-color:transparent;
    padding: 12.5px;
    /* width:100%; */
    border-radius: 5px;}
nav .nav-logo img{
    padding-top:16px;
    width:139px;
}
 nav .btn{
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    /* width:160px; */
    border-radius: 5px;
}
 header .main-container{
    display:flex;
    justify-content: center;
    background-color: rgb(255, 151, 14);
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position-x:center;
    width:100%;
    /* max-width:1600px;
    height:674px; */
    padding-bottom:20px;
    
}

section div .text-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* text-align: center; */
    max-width:1360px;
    height:379px;
    text-align: center; 
    margin-top: 154.5px;
    margin-bottom:179.5px;
    margin-left:341px;
    margin-right:341px;
    /* padding-top:51px; */
    
}

section .banner-early-access-icon{
    display: flex;
    justify-content: center;
    /* width: 229px;
    height: 35px; */
    margin: 0 auto;
    padding:115.5px 270.5px 16px 270.5px;

}
section .banner-early-access-icon p{
    width:220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    color: #2aa15b;
    background-color: #ffff;
    background-size: cover;  
    padding: 8px 12px 8px 12px;
    border-radius:50px;
    gap: 6px;

}
.text-container h1{
    color:#ffffff;
    /* max-width:1360px; */
    /* width:770px; */
    /* padding-top: 51px; */
    /* padding-bottom:16px;
    padding-left:341px;
    padding-right:341px; */
    margin:0 auto;
    font-size:70px;
    font-weight: bold;
    /* display: flex;
    /* align-items: center; */
    /* justify-content: center; */
     
}
.text-container p{
    color: rgba(255, 255, 255, 1);
    max-width:1360px;
    width:770px;
    /* padding-top: 51px;*/
    padding-bottom:32px;
    /* padding-left:341px; 
    padding-right:341px; */
    margin:0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.text-container #span-color-green{
    color:rgba(48, 184, 104, 1);
}
.btn{

    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    
    /* width:160px; */
    border-radius: 5px;
}
.btn3{

    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 12.5px;
    
    /* width:160px; */
    border-radius: 5px;
}
.btn3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-bottom:80px;

}

.button-section .btn {
    font-size:12px;
   padding-left: 16px;
   padding-right: 16px;
   margin: 0 auto;
   font-weight: 600;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.button-section .btn2 {
   font-size:12px;
   padding-left: 16px;
   padding-right: 16px;
   margin: 0 auto;
   font-weight: 600;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.button-section .btn3 {
   font-size:12px;
   padding-left: 16px;
   padding-right: 16px;
   margin: 0 auto;
   font-weight: 600;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
/* 2nd section/notes-container */
section .notes-title-container h1, p{
    text-align: center;
    gap:16px;
}
section .notes-title-container h1{
    font-weight:bold;
    font-size:48px;
    text-align: center;
    padding-top:80px;
    gap:16px;
}
section .notes-title-container p{
    text-align: center;
    padding-top:16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    padding-bottom:44px;
}
.Info-container{
    /* border: 1px solid red; */
    /* margin: 10px 120px 10px 120px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right:24px;
    margin-left:24px; */
    gap:24px;
    object-fit: cover;
    max-width:1340px;
}
.info-card{
    width: 320px;
    box-sizing: border-box;
    padding-top:24px;
    padding:24px;
    gap:16px;
    margin: 10px auto;
    border-radius: 50px;
    text-align: center;
    box-shadow:0px 0px 5px rgb(31, 29, 29);
}
.info-card:hover{
    box-shadow:0px 0px 20px rgb(255, 0, 0);
}
.info-card img{
    background-color: #f95555;
    padding: 15px 15px 15px 15px;
    border-radius:100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items:center;
    gap:20px;
    margin-bottom:16px;
    margin-left:107px;
    margin-right:107px;
    margin-bottom:16px;
    
}
.info-card p{
    padding-top:16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:15px;
    color: #627382;
}
.info-card h2{
    padding-top:13px;
    font-weight: 600;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    color: #000000;
}
/* 3rd section/brain-container */
section .second-brain-section-container{
    padding:120px 120px 120px 120px;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    align-items: center; 
}
.brain-text-info {
    box-sizing: border-box;
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    padding-right:170px;
}
.brain-text-info h1,p{
    text-align: left;
    padding-top:16px;
}
.brain-text-info h1 {
    color: #001931;
    font-size: 48px;
    font-weight:bold;
}
.brain-text-info .para-1{
    color: #30B868;
}
.brain-text-info #para-2{
    font-size:16px;
    color: #627382;
}
/* 4th work section */

section .fourth-main-container{
    background-color:#F7F6F2;
    margin: 0px 120px 120px 120px;
    max-width:1290px;
    width:100%;
    padding: 70px 20px 70px 20px;
    border-radius:12px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section .fourth-main-container h1{
    color:#000000;
    font-size:40px;
    font-weight: bold;
    padding-top:80px;
    padding-left:40px;
    padding-right:40px;
    
}

section .fourth-main-container p{
    color:#627382;
    line-height:24px;
    font-size:16px;
    padding-bottom:24px;
    

}

.fourth-main-container .button-etc-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-right:20px;

}
.fourth-main-container .text-second-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.para-last-area{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    padding-top:24px;
}

footer section{
    background-color: #001931;
    margin:0 auto;
}
footer .upper-info{
    color:white;
    margin:0 auto;
    padding-top:120px;
    padding-left:120px;
    padding-right:120px;
    padding-bottom:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
footer .social-links img{
    display: flex;
    align-items: center;
    flex-direction: row;
}
/* .footer-copyright */

.copyright-text {
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    padding-top: 20px;
    padding-bottom:30px;
    padding-left:120px;
    padding-right:120px;
    border-top:1px solid #627382;
    margin-right:60px;
    margin-left:60px;
}
@media screen and (max-width:538px) {
    nav{
    margin:0 auto;
    padding-left: 20px;
    padding-right:20px;
    align-items: center;
}
.pc-button{
    display:none;
}
.mb-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 10px;
    /* max-width:20px;/ */
    /* width:100%; */
    margin:0;
    gap:5px;
    border-radius: 5px;
}
nav ul{
    display:none;
}
.button-section {
    margin:0;
    display: grid;
}
.btn{
    border:none;
    color:#ffff;
    background-color:#2aa15b;
    padding: 8px;
    max-width:85px;
    width:100%;
    margin:10px 0px;
    border-radius: 5px;
    /* text-align: start; */
}
nav .nav-logo img{
    padding-top:16px;
    max-width:80px;
    width:100%;
}
.text-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center; 
    margin-top: 70.5px;
    margin-bottom:80px;
    margin-left:110px;
    margin-right:110px;
    
}

section .banner-early-access-icon{
    /* padding:20px 75px 51px 75px; */
    padding:0px;
    margin-bottom:10px;
}
.banner-early-access-icon p{
    font-size: 13px;
    padding: 4px 6px;
}
.text-container h1{
    color:#ffffff;
    /* max-width:1360px; */
    /* width:770px; */
    /* padding-top: 51px; */
    /* padding-bottom:16px;
    padding-left:341px;
    padding-right:341px; */
    margin:0 auto;
    font-size:40px;
    font-weight: bold;
    /* display: flex;
    /* align-items: center; */
    /* justify-content: center; */
     
}
.text-container p{
    color: rgba(255, 255, 255, 1);
    width:350px;
    padding-bottom:32px;
    text-align:center;
    margin:0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.Info-container{
    display: grid;
    grid-template-columns: 1fr;
}
.info-card{
    
    border-radius:50px;
}
.info-card:hover{
    box-shadow: 0px 0px 20px rgb(255, 104, 104);
}
.info-card img:hover{
    background-color: #6404ff;
    box-shadow: 0px 0px 20px rgb(0, 255, 225);
}
section .second-brain-section-container{
    padding:20px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center; 
}
/* .brain-banner{
    /* position:relative;
    left:-10px; */

.brain-banner img{
    max-width:600px;
    width:100%;
    /* height: 200px; */
    /* border: 1px solid red; */
}
section .brain-text-info {
    /* box-sizing: border-box; */
    display: flex;
    text-align:center;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding:0px;
}
.brain-text-info h1,p{
    padding-top:16px;
    text-align: center;
}
.brain-text-info h1 {
    color: #001931;
    font-size: 40px;
    font-weight:bold;
}
.brain-text-info .para-1{
    color: #30B868;
}
.brain-text-info #para-2{
    font-size:13px;
    color: #627382;
    text-align: center;
}
.check-circle-area{
    /* border: 1px solid red; */
    margin: 0 auto;
}
.check-point-area img{
    width:20px;
    height: 20px;
}
.check-point-area {
    margin-top:20px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
}
footer .footer-logo img{
    max-width:100px;
}
footer .upper-info{
    color:white;
    margin:0;
    padding-top: 70px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
footer .social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-social-img{
    display: flex;
    gap:10px;
}
footer .social-links img{
    display: flex;
    align-items: center;
    max-width:20px;
    width:100%;
}
.copyright-text {
    display:flex;
    font-size:0.8rem;
    justify-content: center;
    align-items:center;
    color:white;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-top:1px solid #627382;
    margin-right:60px;
    margin-left:60px;
}
}