*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #ffff;
}
nav{
    border:1px solid black;
    width:1140px;
    height:92px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:50px
    padding-top:34px;
}
